<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio Catequesis</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Catequesis</h1>
    <p>Usa los siguientes enlaces:</p>
    <ul>
        <!-- CRUD Catequizando -->
        <li><a href="{% url 'catequesis:registrar_catequizando' %}">Registrar Catequizando</a></li>
        <li><a href="{% url 'catequesis:listar_catequizandos' %}">Listar Catequizandos por Catequista</a></li>
        <li><a href="{% url 'catequesis:listar_todos_catequizandos' %}">Listar Todos los Catequizandos</a></li>

        <!-- CRUD Catequista -->
        <li><a href="{% url 'catequesis:registrar_catequista' %}">Registrar Catequista</a></li>
        <li><a href="{% url 'catequesis:listar_catequistas' %}">Listar Catequistas</a></li>


    </ul>
</body>
</html>
