{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Todos los Catequizandos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="animated-fadein">
    <div class="card animated-fadein">
        <h2 style="text-align:center;"><i class="fa-solid fa-list"></i> Todos los Catequizandos</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="success">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% if mensaje %}
            <div class="success">{{ mensaje }}</div>
        {% endif %}
        <div class="table-container animated-fadein">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Parroquia</th>
                    <th>Estado</th>
                    <th>Fe Bautismo</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
                {% for c in resultado %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.nombres }}</td>
                    <td>{{ c.apellidos }}</td>
                    <td>{{ c.fechanacimiento }}</td>
                    <td>{{ c.parroquia }}</td>
                    <td>{{ c.estado }}</td>
                    <td>{{ c.tienefebautismo }}</td>
                    <td>{{ c.observaciones }}</td>
                    <td>
                        <a href="{% url 'catequesis:modificar_catequizando' c.id %}" class="btn"><i class="fa-solid fa-pen"></i> Editar</a>
                        <a href="{% url 'catequesis:eliminar_catequizando' c.id %}" class="btn"><i class="fa-solid fa-trash"></i> Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'catequesis:home' %}" class="btn"><i class="fa-solid fa-arrow-left"></i> Volver al Inicio</a>
    </div>
</body>
</html>
