<!DOCTYPE html>
<html>
<head>
    <title>Lista de Catequizandos</title>
</head>
<body>
    <h1>Buscar Catequizandos por Catequista</h1>

    <form method="post">
        {% csrf_token %}
        <label>ID Catequista:</label>
        <input type="number" name="idcatequista" required>
        <button type="submit">Buscar</button>
    </form>

    {% if mensaje %}
        <p><strong>{{ mensaje }}</strong></p>
    {% endif %}

    {% if resultado %}
        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estado</th>
                <th>Parroquia</th>
            </tr>
            {% for c in resultado %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombres }}</td>
                <td>{{ c.apellidos }}</td>
                <td>{{ c.estado }}</td>
                <td>{{ c.parroquia }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <a href="{% url 'catequesis:home' %}">⬅️ Volver al Inicio</a>
</body>
</html>
