{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Modificar Catequista</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="animated-fadein">
    <div class="card animated-fadein">
        <h2 style="text-align:center;"><i class="fa-solid fa-pen"></i> Modificar Catequista</h2>
        {% if mensaje %}
            <div class="success">{{ mensaje }}</div>
        {% endif %}
        <form method="post" class="animated-fadein">
            {% csrf_token %}
            <label><i class="fa-solid fa-user"></i> Nombres:</label>
            <input type="text" name="nombres" value="{{ catequista.0 }}" required><br>
            <label><i class="fa-solid fa-user"></i> Apellidos:</label>
            <input type="text" name="apellidos" value="{{ catequista.1 }}" required><br>
            <label><i class="fa-solid fa-phone"></i> Teléfono:</label>
            <input type="text" name="telefono" value="{{ catequista.2 }}" required><br>
            <label><i class="fa-solid fa-envelope"></i> Correo:</label>
            <input type="email" name="correo" value="{{ catequista.3 }}" required><br>
            <label><i class="fa-solid fa-user-tag"></i> Rol:</label>
            <input type="text" name="rol" value="{{ catequista.4 }}" required><br>
            <label><i class="fa-solid fa-layer-group"></i> ID Nivel Catequesis:</label>
            <input type="number" name="nivel" value="{{ catequista.5 }}" min="1"><br><br>
            <button type="submit" class="btn"><i class="fa-solid fa-save"></i> Guardar Cambios</button>
        </form>
        <a href="{% url 'catequesis:listar_catequistas' %}" class="btn"><i class="fa-solid fa-arrow-left"></i> Volver a la Lista</a>
    </div>
</body>
</html>
